
@font-face {
    font-family: 'Bebas-Neue-Book';
    src:url('/Bebas-Neue-Book.ttf.woff') format('woff'),
        url('/Bebas-Neue-Book.ttf.svg#Bebas-Neue-Book') format('svg'),
        url('/Bebas-Neue-Book.ttf.eot'),
        url('/Bebas-Neue-Book.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

@font-face {
    font-family:'KyrillaSansSerif-Bold';
    src:url('fonts/KyrillaSansSerif-Bold.woff');
    font-size: 40px;
}


.transbox {
  position: relative;
}

.transbox:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.petyatitle { 
    /*width: 100%;*/
    /*background-color: yellow;*/
    /*font-family:"Bebas-Neue-Book";*/
    font-family:"KyrillaSansSerif-Bold";

}